.btn {
  background-color: #126cda;
  border-color: #126cda;
  border-radius: 30px;
  padding: 0.5rem 4rem;
}

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #1b1e21;
  padding: 15px;
  border-radius: 5px;
  height: 115px;
  max-width: 500px;
}

.mastfoot {
  background-color: #373d44;
}

.navbar {
  font-size: 18px;
  text-transform: uppercase;
}

.masthead {
  // background: linear-gradient(to bottom right, #116dd6, #bcd8f9);
  // background: linear-gradient(to bottom right, #010810, #1a1e23);
  // background: linear-gradient(315deg,#171e26 0,#0a121d 100%)
  background-color: black;
  background-image: url('/assets/img/background5-min.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 

  min-height: 700px;

  h1 {
    color: white;
    font-weight: 600;
    font-family: Palatino, monospace;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 100px;
  }

  h3 {
    font-weight: 300;
    color: #fff;
  }

  p {
    line-height: 1.75;
  }

  img {
    max-width: 300px;
  }
}

.terminal-wrapper {
  padding: 20px 0;
}

.strengths-section {
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  background-color: #fafafa;

  h3 {
    text-align: center;
    color: #685b5b;
  }

  p {
    line-height: 1.7;
  }

}

.comment-section {
  background: #3d464f;
  box-shadow: inset 0 30px 30px -30px rgba(0, 0, 0, 0.35), inset 0 -20px 30px -30px rgba(0, 0, 0, 0.35);
  padding: 40px 0px;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

// .philosophy-section {

//   background-color: #fafafa;
//   // background: linear-gradient(to bottom right, #d5e7fc, rgb(253, 253, 253));
//   padding-top: 35px;

//   font-size: xx-large;
//   text-align: center;
// }

.feature-section {

  h4 {
    font-weight: bold;
  }

  background-color: #fafafa;
  // background: linear-gradient(to bottom right, #d5e7fc, rgb(253, 253, 253));
  padding-top: 35px;
  padding-left: 0px;
  padding-right: 0px;

  .container>.row {
    padding-bottom: 1.1rem;
  }

  img {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 8px 32px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    max-width: 100%;
  }

  h5 {
    color: grey;
  }

  hr {
    margin-bottom: 0rem;
  }

  p {
    margin-top: 1rem;
  }
}

.mastfoot {
  color: white;
  padding: 10px 0px;
}

.masthead>.content  {
  @media (min-width: 576px) {
    padding: 40px 0px;
  }
  @media (max-width: 576px)  {
    padding-bottom: 20px;
  }
}
