.btn {
  background-color: #126cda;
  border-color: #126cda;
  border-radius: 30px;
  padding: 0.5rem 4rem;
}

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 15px;
  border-radius: 5px;
  height: 115px;
  max-width: 500px;
}

.masthead {
  background: linear-gradient(to bottom right, #116dd6, #bcd8f9);
}

.mastfoot {
  background-color: #4e5761;
}

.masthead {
  @media (min-width: 576px) and (max-width: 1450px) {
    // background-image: url('../img/background.png');
    // background-repeat: no-repeat;
    // background-position-y: -6em;
  }

  h1 {
    // color: #ffce90;
    color: white;
    font-weight: bold;
    font-size: 60px;
  }

  h3 {
    color: rgb(214, 238, 243);
  }

  p {
    line-height: 1.75;
  }

  img {
    max-width: 300px;
  }
}

.terminal-wrapper {
  padding: 20px 0;
}

.feature-section {
  background-color: #fafafa;
  // background: linear-gradient(to bottom right, #d5e7fc, rgb(253, 253, 253));
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;

  h3 {
    font-weight: bold;
  }

  h4 {
    color: #4c4cf9;
  }
}

.community-section {
  background: linear-gradient(to right, #337ccf, rgb(140, 206, 197));

  a {
    color: darkblue;
  }
}

.mastfoot {
  color: white;
  padding: 10px 0px;
}

.community-section {
  padding: 40px 0px;
}

.masthead>.content  {
  @media (min-width: 576px) {
    padding: 40px 0px;
  }
  @media (max-width: 576px)  {
    padding-bottom: 20px;
  }
}
