.btn {
  background-color: #4c90e4;
  border-color: #4c90e4;
  border-radius: initial;
  padding: 0.5rem 4rem;
}

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  border-radius: 5px;
  height: 105px;
  max-width: 500px;
}

.masthead {
  background: linear-gradient(to bottom right, #5696de, #d5e7fc) ;
}

.mastfoot {
  background-color: #4e5761;
}

.masthead {
  @media (min-width: 576px) and (max-width: 1450px) {
    // background-image: url('../img/background.png');
    // background-repeat: no-repeat;
    // background-position-y: -6em;
  }

  h1 {
    // color: #ffce90;
    color: white;
    font-weight: bold;
    font-size: 60px;
  }

  h3 {
    color: rgb(214, 238, 243);
  }

  p {
    line-height: 1.75;
  }

  img {
    max-width: 300px;
  }
}

.terminal-section {
}

.feature-section {
  background-color: rgb(226, 244, 255);

  h3 {
    font-weight: bold;
  }
}

.mastfoot {
  color: white;
  padding: 20px 0px;
}

.masthead, .terminal-section, .feature-section {
  padding: 40px 0px;
}