<!doctype html>
<html lang="en">
  <head>
    <title><%= title %> - <%= subtitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <link rel="icon" type="image/png" href="assets/img/logo_250.png" />

    <link rel="stylesheet" href="assets/3p/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/3p/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-112613053-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <header class="masthead">
      <nav class="navbar navbar-expand-sm navbar-dark">
          <a href="#" class="navbar-brand">
            <img src="assets/img/logo_400.png" alt=""
             width="60" height="60" class="d-inline-block align-top">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="https://foalts.gitbook.io/docs/" class="nav-link text-white" id="documentation">
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/FoalTS/" class="nav-link text-white" id="github">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/FoalTs" class="nav-link text-white" id="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      <div class="container content">
        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center px-4">
            <h1 class="text-center"><%= title %></h1>
            <h3 class="text-center"><%= subtitle %></h3>
            <div class="terminal-wrapper">
              <div id="typed-strings" style="display: none;">
                <span>
                  <span class="text-muted">></span> npm install -g @foal/cli<br>
                  <span class="text-muted">></span> foal createapp my-app<br>
                  <span class="text-muted">></span> cd my-app<br>
                  <span class="text-muted">></span> npm run develop
                </span>
              </div>
              <div class="terminal m-auto">
                <span id="typed"></span>
              </div>
            </div>
            <div class="text-center">
              <a href="https://foalts.gitbook.io/docs/" class="btn btn-primary mt-3" id="get-started">
                Get started
                <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <section class="feature-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="flex-fill p-md-4">
              <h4>TypeScript</h4>
              <h5>Increase your productivity with JavaScript that scales.</h5>
              <p class="text-justify mb-0">
                TypeScript brings you optional static type-checking along with the latest ECMAScript
                features. Writing FoalTS with TypeScript has been and will always be fundamental. Code
                is more elegant and concise. Most of the silly mistakes are caught at compilation. And
                autocompletion is well-handled and the API is better documented.
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/typescript2.png" class="mt-3 mt-md-0">
          </div>
        </div>
        <hr>
      </div>
    </section>
    <section class="feature-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex order-md-last">
            <div class="flex-fill p-md-4">
              <h4>Essential Components</h4>
              <h5>Do not waste time reinventing the wheel.</h5>
              <p class="text-justify mb-0">
                Some patterns always come back while developing a web app. Set up a REST API, talk to the database or manage authentication shouldn't be a hard task. FoalTS lets you focus on the business logic, not on re-inventing the wheel.
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/components2.png" class="mt-3 mt-md-0">
          </div>
        </div>
        <hr>
      </div>
    </section>

    <section class="feature-section pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="flex-fill p-md-4">
              <h4>Development Tools</h4>
              <h5>Focus on coding, not on setting up an environment.</h5>
              <p class="text-justify mb-0">
                Every project needs dev tools. But setting up and maintaining such an environment in Node.Js is often hard or time consuming. FoalTS focuses on helping the developer to code. Generators, watchers, the compiler, linter and test framework are all provided in FoalTS. No more set up, get started right away.
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center order-last">
            <img src="assets/img/dev-tools2.png" class="mt-3 mt-md-0">
          </div>
        </div>
      </div>
    </section>

    <section class="comment-section">
        FoalTS enhances the developer experience by providing the tools and components essential to creating a Web application.
    </section>

    <section class="strengths-section">
      <div class="container">
        <div class="text-center">
          <a href="https://foalts.gitbook.io/docs/" class="btn btn-primary mt-3" id="get-started2">
            Get started
            <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>

    <footer class="mastfoot">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            Code licensed under MIT License.
          </div>
        </div>
      </div>
    </footer>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="assets/3p/jquery/jquery.min.js"></script>
    <script src="assets/3p/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/3p/typed.js/typed.min.js"></script>
    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 18,
        showCursor: false
      });
    </script>
    <script>
      function createFunctionWithTimeout(callback, opt_timeout) {
        var called = false;
        function fn() {
          if (!called) {
            called = true;
            callback();
          }
        }
        setTimeout(fn, opt_timeout || 1000);
        return fn;
      }

      function attachMetricToLink(id, label) {
        var getStarted = document.getElementById(id);
        getStarted.addEventListener('click', function(event) {
          event.preventDefault();
          ga('send', 'event', label, 'click', {
            hitCallback: createFunctionWithTimeout(function() {
              window.location = event.target.href;
            })
          });
        });
      }
      attachMetricToLink('get-started', 'Get Started Button');
      attachMetricToLink('get-started2', 'Get Started 2 Button');
      attachMetricToLink('github', 'Github Button');
      attachMetricToLink('twitter', 'Twitter Button');
      attachMetricToLink('documentation', 'Documentation Button');
    </script>
  </body>
</html>