<!doctype html>
<html lang="en">
  <head>
    <title><%= title %> - <%= subtitle %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <link rel="icon" type="image/png" href="assets/img/logo_64.png" />

    <link rel="stylesheet" href="assets/3p/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/3p/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-112613053-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </head>
  <body>
    <header class="masthead">
      <nav class="navbar navbar-expand-sm navbar-dark">
          <a href="#" class="navbar-brand">
            <img src="assets/img/logo_64.png" alt=""
             width="30" height="30" class="d-inline-block align-top">
            <span class="ml-1">FoalTS</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item mr-2 d-flex align-items-center">
                <a href="https://twitter.com/FoalTs?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @FoalTs</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="github-button" href="https://github.com/FoalTS/foal" data-icon="octicon-star" aria-label="Star FoalTS/foal on GitHub">Star</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="https://foalts.gitbook.io/docs/" class="nav-link text-white" id="documentation">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/FoalTS/" class="nav-link text-white" id="github">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  Github
                </a>
              </li>
              <li class="nav-item">
                <a href="https://twitter.com/FoalTs" class="nav-link text-white" id="twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  Twitter
                </a>
              </li>
            </ul>
          </div>
        </nav>
      <div class="container content">
        <div class="row">
          <div class="col-lg-8 d-flex flex-column justify-content-center px-4">
            <h1><%= title %></h1>
            <h3><%= subtitle %></h3>
            <p class="text-white mt-3 text-justify">
              <%= description %>
            </p>
            <div class="terminal-wrapper">
              <div id="typed-strings" style="display: none;">
                <span>
                  <span class="text-muted">></span> npm install -g @foal/cli<br>
                  <span class="text-muted">></span> foal createapp my-app<br>
                  <span class="text-muted">></span> cd my-app && npm install<br>
                  <span class="text-muted">></span> npm run develop
                </span>
              </div>
              <div class="terminal m-auto">
                <span id="typed"></span>
              </div>
            </div>
            <div>
              <a href="https://foalts.gitbook.io/docs/" class="btn btn-primary mt-3 ml-4" id="get-started">
                Get started
                <i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block align-self-center">
            <img src="assets/img/logo_400.png" alt="" class="d-block mx-auto mb-3">
          </div>
        </div>
      </div>
    </header>

    <section class="feature-section">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-lg-9">
            <!-- <h2 class="text-center mb-5">Features</h2> -->
            <% features.forEach(function(feature, i){ %>
            <% if (i != 0) { %><hr><% } %>
            <div class="row">
              <div class="col-sm-3 d-flex align-items-center justify-content-center <% if (i % 2 == 0) { %>order-last<% } %>">
                <i class="fa fa-<%= feature.icon %> fa-5x" aria-hidden="true"></i>
              </div>
              <div class="col-sm-9 d-flex">
                <div class="flex-fill p-md-4">
                  <h4 class="alert-heading"><%= feature.name %></h4>
                  <p class="text-justify mb-0">
                    <%= feature.description %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </section>

    <section class="community-section">
      <div class="container text-white">
        <h4>You want to request a new feature?</h4>
        <p>
          Check out this <a href="https://github.com/FoalTS/foal/issues?q=is%3Aopen+is%3Aissue+label%3A%22feature+request%22">page</a>.
          If a feature request already exists then add a thumb up. If not create a new issue.
        </p>
      </div>
    </section>

    <footer class="mastfoot">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            Code licensed under MIT License.
          </div>
        </div>
      </div>
    </footer>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="assets/3p/jquery/jquery.min.js"></script>
    <script src="assets/3p/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/3p/typed.js/typed.min.js"></script>
    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 20,
        showCursor: false
      });
    </script>
    <script>
      function createFunctionWithTimeout(callback, opt_timeout) {
        var called = false;
        function fn() {
          if (!called) {
            called = true;
            callback();
          }
        }
        setTimeout(fn, opt_timeout || 1000);
        return fn;
      }

      function attachMetricToLink(id, label) {
        var getStarted = document.getElementById(id);
        getStarted.addEventListener('click', function(event) {
          event.preventDefault();
          ga('send', 'event', label, 'click', {
            hitCallback: createFunctionWithTimeout(function() {
              window.location = event.target.href;
            })
          });
        });
      }
      attachMetricToLink('get-started', 'Get Started Button');
      attachMetricToLink('github', 'Github Button');
      attachMetricToLink('twitter', 'Twitter Button');
      attachMetricToLink('documentation', 'Documentation Button');
    </script>
  </body>
</html>