<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="FoalTS is the framework you need to build the backend of small to large web applications. As a brief overview, FoalTS lets you quickly set up a connection to a DB and then create, read, update or delete its data through a REST API. All of that in TypeScript. Read the docs now to learn more about all FoalTS features!">
<link rel="icon" type="image/png" href="/assets/img/logo2_64.png" />

<link rel="stylesheet" href="/assets/3p/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/3p/prismjs/prism.css" />
<link rel="stylesheet" href="/assets/3p/prismjs/prism-toolbar.css" />
<link rel="stylesheet" href="/assets/css/main.css">