<nav class="navbar navbar-dark bg-dark doc-nav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/README.html">Get started</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link nav-link-collapse collapsed">Basics</a>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/basics/services.html" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="/basics/controllers.html" class="nav-link">Controllers</a></li>
        <li class="nav-item"><a href="/basics/modules.html" class="nav-link">Modules</a></li>
        <li class="nav-item"><a href="/basics/hooks.html" class="nav-link">Hooks</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Advanced</a>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/advanced/contexts.html" class="nav-link">Contexts</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Packages</a>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/packages/common.html" class="nav-link">@foal/common</a></li>
      </ul>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/packages/core.html" class="nav-link">@foal/core</a></li>
      </ul>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/packages/ejs.html" class="nav-link">@foal/ejs</a></li>
      </ul>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/packages/express.html" class="nav-link">@foal/express</a></li>
      </ul>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/packages/sequelize.html" class="nav-link">@foal/sequelize</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Cookbook</a>
      <ul class="navbar-nav second-level-menu">
        <li class="nav-item"><a href="/cookbook/authentication.html" class="nav-link">Authentication</a></li>
      </ul>
    </li>
  </ul>
</nav>