<!doctype html>
<html lang="en">
  <head>
    <title>FoalTS - A Node.js framework for building robust web apps.</title>
    <%- include('../partials/head.html') %>
  </head>
  <body>
    <%- include('../partials/navbar.html', { home: true, documentation: false }) %>

    <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>FoalTS</h1>
            <h3>A Node.js framework for building robust web apps.</h3>
            <a href="documentation.html" class="btn btn-primary mt-3">Get started</a>
          </div>
        </div>
      </div>
    </header>

    <section class="terminal-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-center">Create your first app</h3>
            <div id="typed-strings" style="display: none;">
              <span>
                $ npm install -g yo generator-foal<br>$ yo foal my-app<br>$ cd my-app<br>$ npm run dev:app
              </span>
            </div>
            <div class="terminal m-auto">
              <span id="typed"></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="feature-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-center">Features</h3>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">TypeScript</h4>
                <p class="text-justify">
                  Use type-checking and the latest ECMAScript
                  features to increase your productivity.
                </p>
              </div>
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">Scalable</h4>
                <p class="text-justify">
                  Start with a small app. Then scale your
                  code as your project grows up.
                </p>
              </div>
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">Testable</h4>
                <p class="text-justify">
                  Testing your code shouldn't be difficult. Foal
                  components are designed to easily be tested.
                </p>
              </div>
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">High-level components</h4>
                <p class="text-justify">
                  Foal architecture brings you structure to develop
                  complex apps. Start now playing with its
                  controllers, services, modules and hooks.
                </p>
              </div>
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">Progressive migration</h4>
                <p class="text-justify">
                  Already having an express app running on prod?
                  No worries, you can progressively move your code
                  from express to FoalTS.
                </p>
              </div>
              <div class="col-md-4 col-sm-6">
                <h4 class="text-center">Great tools</h4>
                <p class="text-justify">
                  Use the foal generator to quickly start an app and then
                  write and build code.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer.html') %>
    <%- include('../partials/scripts.html') %>
    <script src="assets/3p/typed.js/typed.min.js"></script>
    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 15,
        showCursor: false
      });
    </script>
  </body>
</html>