<div class="doc-index">
  <h1>Documentation</h1>
  <h2>Basics</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/basics/services.html">Services</a></h4>
          <p class="card-text">Singleton classes which serve a restricted and well-defined purpose.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/basics/controllers.html">Controllers</a></h4>
          <p class="card-text">Sub-category of services which aims to be attached to the request handler.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/basics/modules.html">Modules</a></h4>
          <p class="card-text">Chunks dividing the app.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/basics/pre-hooks.html">Pre-hooks</a></h4>
          <p class="card-text">Decorators to perform basic tasks of request handling.</p>
        </div>
      </div>
    </div>
  </div>
  <h2>Packages</h2>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/packages/authorization.html">@foal/authorization</a></h4>
          <p class="card-text">Pre-hooks for access control.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/packages/core.html">@foal/core</a></h4>
          <p class="card-text">Core package of the framework.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/packages/sequelize.html">@foal/ejs</a></h4>
          <p class="card-text">View services to render ejs templates.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/packages/express.html">@foal/express</a></h4>
          <p class="card-text">Express adaptater to bootstrap the app.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title"><a href="/packages/sequelize.html">@foal/sequelize</a></h4>
          <p class="card-text">Database connections and CRUD services.</p>
        </div>
      </div>
    </div>
  </div>
</div>
